.git
.github
.vscode
.idea

**/.venv
**/venv
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/.coverage
**/htmlcov

.env
**/.env

*.db
*.sqlite
*.sqlite3
*.py[cod]
*.log

.DS_Store
Thumbs.db
